{% extends '/layouts/base.html' %}
<!DOCTYPE html>
    {%block content%}
        <div class="dropdown text-end">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Filter
            </button>
            <div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><input type="radio" class="form-check-input " id="radio1" name="optradio" value="option1" checked>Progress</a></li>
                    <li><a class="dropdown-item" href="#"><input type="radio" class="form-check-input " id="radio1" name="optradio" value="option1" checked>Due date</a></li>
                  </ul>
            </div>
        </div>
            <div class="table-header">
            <h2>Active Tasks</h2>
            </div>
        <table class="table table-hover">
            <tr>
                <th>Task_id</th>
                <th>Task_title</th>
                <th>Assigned to</th>
                <th>Date_created</th>
                <th>Deadline</th>
                <th>Progress</th>
                <th> </th>

            </tr>
            <form action="/task/breakdown" method="post">
            {% for task in tasks %}
                <td>
                    {{task["id"]}}
                </td>
                <td>{{task.name}}</td>
                <td>{{(task.assigned_to).full_name}}</td>
                <td>{{(task["date_assigned"]).strftime("%c")}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.progress}}<td>
                </tr> 

                {%else%}
                <h2>No Active Tasks</h2>
            {% endfor %} 
            
            </form>
        </table>
        </div>
          
       {%endblock%}

</html>


