  {%extends '/layouts/base.html'%}
  <!DOCTYPE html>
    {%block content%}

            <div class="Task_id">
            <h2>{{task_id}}</h2>
            </div>
            <form action="/task/update_progress",method="post"> 
                    <div class="mb-3 mt-3">
                        <label for="Task_id" class="form-label">Task id:</label>
                        <input type="text" class="form-control" id="Task_id"  name="Task_id" value="{{data.id}}" readonly>
                      </div>
                      <div class="mb-3">
                        <label for="Task_title" class="form-label">Task title:</label>
                        <input type="text" class="form-control" id="Task_title"  name="Task_title" value="{{data.name}}" readonly>
                      </div>
                      <div class="mb-3">
                          <label for="description" class="form-label">Description: </label>
                          <input rows="1" class="form-control" id="description" name="description" value="{{data.description}}" readonly></input>
                      </div>
                      <div class="mb-3">
                          <label for="asigned_to" class="form-label">Assigned to:</label>
                          <input type="text" class="form-control" id="asigned_to"  name="asigned_to" value="{{data.assigned_to.full_name}}" readonly>
                      </div>
                      <div class="mb-3">
                        <label for="asigned_to" class="form-label">Date assigned:</label>
                        <input type="text" class="form-control" id="date_assigned" name="date_assigned" value="{{data.date_assigned.strftime("%c")}}" readonly>
                    </div>

                      <div class="mb-3">
                          <label for="Deadline" class="form-label">Deadline:</label>
                          <input type="datetime-local" class="form-control" id="Deadline"  name="Deadline" value="{{data.deadline}}" readonly>
                      </div>
                    <div class="mb-3">
                        <label for="progress" class="form-label">Progress:</label>
                            <select class="form-select" name="progress">
                                <option value="In progress">In progress</option>
                                <option value="completed">Completed</option>
                            </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
   
    {%endblock%}
</html>