{% extends '/layouts/base.html' %}
<!DOCTYPE html>
{%block content%}
        <div class="form-header">
          <h2 class="modal-title">Create a New Task</h2>
          </div>
            <form  action="/task/create", method="POST" >
                <div class="mb-3 mt-3">
                  <label for="Task_id" class="form-label">Task id:</label>
                  <input type="text" class="form-control" id="Task_id" placeholder="Enter task-id" name="Task_id" required>
                </div>
                <div class="mb-3">
                  <label for="Task_title" class="form-label">Task title:</label>
                  <input type="text" class="form-control" id="Task_title" placeholder="Enter Task title" name="Task_title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea class="form-control" rows="1" id="description" name="description" placeholder="What is the task all about?" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="user" class="form-label">Assign to:</label>
                  <select class="form-select" name="user" readonly>
                    {%for user in users%}
                      <option value="{{user._id}}">{{user.surname}} {{user.firstname}}</option>
                    {%endfor%}
                    </select>
              </div>
                <div class="mb-3">
                    <label for="Deadline" class="form-label">Deadline:</label>
                    <input type="datetime-local" class="form-control" id="Deadline"  name="Deadline" required>
                </div>
                <div class="mb-3">
                    <label for="progress" class="form-label">Progress:</label>
                    <select class="form-select" name="progress" readonly>
                        <option value="In progress">In progress</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          
    {%endblock%}
</html>